/* Common */
body{
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.summary__title{
    font-size: 39px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
} 
.summary__description{
    font-size: 20px;
    opacity: 0.7;
    
    
    
}
.clearfix::after {
    content:"";
    clear: both;
    display: block;

}
.float-left{
    float: left;
    
}
.float-right{
    float:right;
}
.inner {
    max-width: 980px;
    margin: 0 auto;
}
.section {
    position:relative;
}
/* Header */

header {
    border-bottom: 1px solid rgba(0,0,0,0.75);
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background: #fff;
}
 header .inner {
    display:flex;
    justify-content: center;
    height: 80px;
    
    
    
}
/* left menu */
.main-logo {
    width: 2.5rem;
    margin-right: -20px;
}
.main-menu {
    display:flex;
    list-style:none;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
}
.menu-group {
    display:flex;
    align-items: center;
    cursor: pointer;
    
}
.main-menu li{
    margin-right: 1rem;
    font-size: 1rem;
    
}
.main-menu li:hover{
    color: #4078c0;
}
.other-menu {
    display:flex;
    align-items: center;
}
.right-menu{
    display:flex;
    list-style:none;
    
    
}
.right-menu li{
    margin-right: 8px;
    font-size: 0.8rem;
    color: rgba(0,0,0,.7);
    cursor: pointer;

    
}
.search-input {
    height: 2rem;
    margin: 0 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    border: 1px solid darkgray;
    padding: 0 8px;
}
button{
    height: 2rem;
    padding: 0 5px;
    border: 1px solid darkgray;
    border-radius: 4px;
    cursor: pointer;

}

.sign-in{
    margin-right: 5px;
    
}
.sign-up{
    background: #55a532 linear-gradient(to bottom, #91dd70, #55a532);
    color: #fff;
}

/* Main */


/* Visual */

.section--visual{ 

    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;

}
.section--visual::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width : 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
     
    
}
.section--visual .inner{
    width: 80%;
}
.summary {
    flex-grow: 1;
    margin-right: 90px;
    flex-basis: 0;
    margin : 0 auto;
}


.section--visual .inner{
    position:relative;
    
    padding: 160px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    text-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.section--visual .summary__description {
    color: #fff;
    text-shadow: 0 5px 5px rgba(0,0,0,0.25);
    opacity: 1;
}
/* form */
#sign-form {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 4em;
    
}
#sign-form input{
    border-radius: 4px;
    height: 25px;
    padding: 5px 10px;
    color: lightgray;
    border: 1px solid lightgray;
    margin-bottom: 10px;

}
#sign-form button{
    height: 4rem;
    margin: 10px 0;
    font-size: 20px;
}
#sign-form p{
    color: #fff;
    opacity: 0.7;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;

}

/* Feature */
.section-feature {
    background: #f5f5f5; 
    padding-top:  60px;
}
.section-feature .inner{
    width: 80%;
    margin: 0 auto;
    
}

.section-feature .summary {
    max-width: 820px;
    text-align: center;
    margin: 0 auto;
}
.section-feature .summary__description{
    opacity: 0.7;
}

.section-feature .video{
  max-width: 650px;
  margin : 50px auto;

}
.section-feature .video .video-ratio{
    height: 0;
    padding-top: 56.25%;
    border: 1px solid black;
    position : relative;
}

.section-feature .video .video-ratio iframe{
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Tiles */

.section-feature .tiles {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.section-feature .tiles .inner{
    max-width: 1200px;
    
}

.section-feature .tiles ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin:0;
}

.section-feature .tiles li{
    list-style: none;
    padding: 34px 24px;
    text-align:center;
    line-height: 1.5;
    border-right: 1px solid #e5e5e5;
    
    box-sizing: border-box;
    
}
.section-feature .tiles li:last-child{
    border: none;
}

.section-feature .tiles li img{
    max-width : 100%;
    padding : 14px 10% 24px;
    box-sizing: border-box;
    
}
.section-feature .tiles li h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.section-feature .tiles li p{
    font-size: 14px;
    color: #767676;


}

/* Where is */
.section--where-is {

}
.section--where-is .inner{
    width: 80%;
    padding-top: 80px;
}
.section--where-is #map {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    border : 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

/* Pricing */

.section--pricing {
    background : linear-gradient(to bottom, #f5f5f5, #fff)
    
}
.section--pricing .inner{
    padding: 80px 0;
}
.section--pricing .card {
    display: flex;
    
    border : 1px solid #e5e5e5;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.section--pricing .card .cell {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--pricing .card .cell1{
 
 border-right: 1px solid #e5e5e5;
}

.section--pricing .card .cell2{
    
}

footer {

}
footer .inner{
    
    
    padding: 20px 0;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
}
footer .site-links{
    display: flex;
}
footer .site-links li{
    list-style: none;
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
} 
footer .site-links li a{
    color: #4078c0;
    text-decoration: none;
    
}
footer .site-links li a:hover{
    text-decoration: underline;
}

footer .logo{
    position :absolute;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin : auto;
    width: 24px;
    height: 24px;
}

footer .logo:hover svg{
    fill: #4078c0;
}

/* Media  */

@media (max-width: 1024px) {
    header.section .inner{
        max-width: none;
        height: auto;
        padding: 10px 20px;
    }
    header .menu-group {
        display: block;
    }
    header .menu-group .main-menu{
        flex-direction: column;

    }
    header .menu-group .main-menu li {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 10px 0;
    }
    header .inner {
        flex-direction: column;
        
    }

    header  .other-menu{
        flex-direction: column-reverse;


    }   
    header .other-menu{
        padding : 20px;
        
        box-sizing: border-box;
    }
    header .other-menu input, 
    header .other-menu button {
        
        width: 60%;
        box-sizing: border-box;
        margin: 0 auto 10px;
        
    }
    header .toggle {
        display: none;
        
        
    }
    header .inner {
        
    }

    .section--visual .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .section--visual .inner form {
        margin-top: 40px;
        
        
    }

    #toggle-btn {
        background : url("../img/toggle-btn.svg");
        width: 22px;
        height: 26px;
        position:absolute;
        right: 16px ;
        top: 20px;
        cursor: pointer;
        
    }
    .section-feature .tiles ul{
        grid-template-columns: repeat(2, 1fr);

    }
    .section-feature .tiles li:nth-child(2){
        border : none;
    }
    .section--pricing .inner .card{
        flex-direction: column;
    }
    .section--pricing .inner .card .cell1{
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    footer .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .logo {
        display: none;
    }


}
@media screen and (max-width: 560px){
    .section-feature .tiles ul {
        grid-template-columns: repeat(1, 1fr);

    }
    .section-feature .tiles ul li {
        border : none;
    }
}